
.animate-logo{
   
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    animation-name: blink;
    animation-duration: 2500ms;
    animation-timing-function:cubic-bezier(0.22, 1, 0.36, 1);
    animation-iteration-count: infinite;
    padding: 0;
}
@keyframes blink {
    from {
        width: 0px;
    }
    to {
        width:210px;
    }
}
@media (min-width:1024px) {
    @keyframes blink {
        from {
            width: 0px;
        }
        to {
            width:310px;
        }
    }
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: #A63C67;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7132A3;
    border-radius: 6px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    width:18px
  }

  

#skill::-webkit-scrollbar {
    width: 4px;
  }
  
  #skill::-webkit-scrollbar-track {
    background: #A63C67;
  }
  
  #skill::-webkit-scrollbar-thumb {
    background: #7132A3;
    border-radius: 6px;
    height: 12px;
  }
  
  
  #skill::-webkit-scrollbar-thumb:hover {
    width:18px
  }

#skill{
    scrollbar-width: none;
} 
@media (min-width:800px) {
    #skill{
        height: 25%;
        width: 83%;
    }
} 

