

@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-slide > div {
    /* padding: 10px 10px; Adjust the value as needed */
    width:10rem;
    height:15rem;
    padding: 0;
    margin-bottom: 0px;
  }
  .slick-list {
    margin-bottom: 0px; /* This compensates for the margin added to the slides */
  }
  .slick-slide{
    padding: 0;
    margin: 0;
  }